{% extends 'base.html.jinja' %}
{% block title %}{{name}} - Mathum{% endblock %}
{% block head %}
{{ super() }}
{% if use_mathjax %}
<script>MathJax = {
        tex: {
            inlineMath: [['$', '$']],
            processEscapes: false
        }
    }</script>
<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
{% endif %}
{% if script %}
<script type="module" src="{{get_vite_path(script)}}"></script>
{% endif %}
<meta name="description" content="{{description}}">
{% endblock %}
{% block body %}
{{rendered_markdown}}
<nav class=" navbar">
    {% if previous_article %}
    <a href="{{previous_article}}">Last</a>
    {% else %}
    <span>Last</span>
    {% endif %}
    <a href="{{url_for('index')}}">Home</a>
    {% if next_article %}
    <a href="{{next_article}}">Next</a>
    {% else %}
    <span>Next</span>
    {% endif %}
</nav>
{% endblock %}